:root{
  --section-spacing: 100px;
  --item-spacing: 40px;
}

.title-style{
  font-size: 64px;
  font-weight: 700;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 60px;
}
@media screen and (max-width:992px) {
  .title-style{
    font-size: 30px;
  }  
}



/* header */
.header-container .header-dropdown {
  font-size: 25px;
  color: black;
  display: none;
}

/* About APAC */
.main-bg{
  padding-block: var(--section-spacing);
}

.main-text{
  font-size: 22px;
  letter-spacing: 2px;
  text-align: justify;
  margin-inline: 35px;
  width: 100%;
  margin-bottom: 55px;

}
.main-sponsor-bg{
  background-color: #F6F7F9;
  border-radius: 20px;
  width: 240px;
  h3{
    color: #999999;
    padding-bottom: 24px;
  }
}
/* About APAC header RWD */
@media screen and (max-width:992px) {
  .header-container .header-menu {
    display: none !important;
  }
  .header-container .header-dropdown{
    display: block ;
  }
  .main-sponsor-bg{
    margin-top: 40px;
  }
  .py-lg-40{
    padding-block: 40px;
  }

  
}

@media screen and (max-width:576px) {
  .logo-text .fs-2{
    font-size: 16px !important;
  }
  .main-bg{
    padding-block: var(--item-spacing);
  }
  .main-text{
    font-size: 18px;
    text-align: center;
    height: 100%;
    margin-block: 40px;
  }
}

@media screen and (max-width:378px) {
  .logo-text .fs-2,
  .logo-text .fs-md-12{
    font-size: 12px !important;
  }
  
}


/* upcoming course */
.upcoming-bg{
  padding-bottom: 100px;
  /* border: 5px solid blue; */
}
.upcoming-wrap{
  width: 1200px;
  height: 440px;
  padding: 60px;
  margin: 0 auto;
  border-radius: 20px;
  background: 
  linear-gradient(to right, rgba(16, 56, 77, 0.8), rgba(16, 56, 77, 0.8)),
  url(/images/view.jpg) center center / cover;
  color: #ffff;
}
.upcoming-date-right{
  color: var(--primary-color);
  text-align: center;
}
.upcoming-date-left{
  color: var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcoming-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line-center{
  border-right: 1px solid #ffff;
}

/* upcoming course RWD */
@media screen and (max-width:992px) {
  .upcoming-bg{
    padding-bottom: 0px;
  }
  .upcoming-wrap{
    width: 100%;
    height: auto;
    background: #fff;
    color: black;
    padding: 0px;
    .card-md{
      box-shadow: 5px 5px 10px #3333 ;
      margin-bottom: 24px;
      padding: 24px 15px;
      h4{
        color: var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
        padding-bottom: 8px;
        margin-bottom: 24px;
      }
      p{
        color: var(--secondary-color);
      }
    }
  }
  .upcoming-date-left,
  .upcoming-date-right{
    display: none;
  }
}

/* announcement */
.annou-bg{
  background: 
  url(/images/cloud.png) right -50px top no-repeat, 
  linear-gradient(to bottom, #ffff, #E4F8FF, #E0F2FD);
}
.annou-content{
  margin: 0 auto;
  font-size: 18px;
  padding-block: 24px;
  padding-inline: var(--item-spacing);
  border-radius: 10px;
  background-color: #ffff;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.btn-more-bg{
  background:
  url(/images/cloud.png) right bottom -100px no-repeat,
  #E0F2FD;
  padding-top: 60px;
  padding-bottom: 100px;
}

/* announcement RWD */
@media screen and (max-width:992px)  {
  .lg-reverse{
    display: flex; 
    flex-direction: column-reverse;
  }
  .annou-bg{
    background: #fff;
    /* border: 3px solid blue; */
    .card-md{
      box-shadow: 5px 5px 10px #3333 ;
      margin-bottom: 24px;
      padding: 24px 15px;
      p{
        color: var(--secondary-color);
      }
    }
  }
  .annou-content{
    width: 100%;
    text-align: center;
    width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-more-bg{
    background: #fff;
    padding-block: var(--item-spacing);

  }
}

/* news */
.news-bg{
  background: 
  url(/images/cloud.png) left -400px bottom -100px no-repeat,
  linear-gradient(to top, #E4F8FF 20%, #E0F2FD);
  padding-bottom: var(--section-spacing);
  .card{
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 5px 5px 10px #3333;
    img{
      border-radius: 20px;
    }
    .card-title{
      color: var(--primary-color);
      font-weight: 700;
    }
    p.card-text{
      color: #333333;
    }
    p{
      color: #999999;
      span{
        color: var(--primary-color);
      }
    } 
  }
}

/* news RWD */
@media screen and (max-width:992px) {
  .news-bg{
    background: white;
  }
  
}
/* footer-banner */
.ratio-1920x580{
  width: 100%;
  aspect-ratio: 1920 / 580;
}
.ratio-1920x580 img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

/* footer */
.footer-bg{
  background: var(--secondary-color);
  padding-top: 60px;
}
.footer-info{
  width: 55%;
  ul{
    padding-right: 80px;
    margin-top: 16px;
    li{
      margin-bottom: 10px;
    }
  }
}
.footer-nav{
  a{
    color: #fff;
    font-size: 18px;
  }
  width: 40%;
}
.copyright-bg{
  background: var(--secondary-color);
  padding-top: var(--item-spacing);
  padding-bottom: 30px;
  .copyright{
    margin-top: var(--section-spacing);
    div{
      width: 40px;
      height: 40px;
      background-color: #5c3510;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        display: block;
        color: #fff;
        font-size: 18px;
      }
    }
  }
}

/* footer RWD */
@media screen and (max-width:992px) {
  .lg-layout{
    flex-direction: column;
    width: 100%;
    align-items: center;
    .footer-info,
    .footer-nav{
      width: 100%;
    }
    .footer-nav{
      border-top: 2px solid #ffff;
      padding-top: 50px;
    }
    .footer-info{
      .d-flex{
        justify-content: center;
      }
      .img-lg-size{
        width: 34px;
        height: 34px;
      }
      ul{
        padding-right: 0px;
      }
      .me-1{
        display: none;
      }
      .fs-3{
        font-size: 18px !important;
      }
      .fs-6{
        font-size: 8.5px !important;
      }
    }
    .info-lg-text{
      text-align: center;
      li{
        margin-bottom: 20px;
      }
      .mb-block{
        display: block;
      }
      .mb-d-none{
        display: none;
      }
    }
  }
  .copyright-bg{
    padding-top: 10px;
  }
}


