
/* utilies */
.fs-64{
  font-size: 64px;
  font-weight: 700;
}
.fs-22{
  font-size: 22px;
}
.fs-14{
  font-size: 14px;
}

.mb-40{
  margin-bottom: 40px;
}
.mx-40{
  margin-inline: 40px;
}
.mb-60{
  margin-bottom: 60px;
}

.pb-100{
  padding-bottom: 100px;
}